html {
  position: relative; }
  html::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    max-width: 72rem;
    min-height: 100vh;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: exclusion;
    /* Base Breakpoint */
    width: calc(100% - (2 * 1rem));
    background-image: repeating-linear-gradient(to left, transparent 0, transparent 0.5rem, rgba(128, 128, 128, 0.2) 0.5rem, rgba(128, 128, 128, 0.2) 25%);
    background-size: calc(100% + 0.5rem);
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      html::before {
        width: calc(100% - (2 * 2rem));
        background-image: repeating-linear-gradient(to left, transparent 0, transparent 1rem, rgba(128, 128, 128, 0.2) 1rem, rgba(128, 128, 128, 0.2) 12.5%);
        background-size: calc(100% + 1rem); } }
    @media screen and (min-width: 48rem) {
      html::before {
        width: calc(100% - (2 * 2rem));
        background-image: repeating-linear-gradient(to left, transparent 0, transparent 1rem, rgba(128, 128, 128, 0.2) 1rem, rgba(128, 128, 128, 0.2) 8.33333%);
        background-size: calc(100% + 1rem); } }
    @media screen and (min-width: 76rem) {
      html::before {
        width: 100%;
        background-image: repeating-linear-gradient(to left, transparent 0, transparent 2rem, rgba(128, 128, 128, 0.2) 2rem, rgba(128, 128, 128, 0.2) 8.33333%);
        background-size: calc(100% + 2rem); } }
  html::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 100vh;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: exclusion;
    /* Base Breakpoint */
    background: transparent linear-gradient(to top, rgba(128, 128, 128, 0.2) 0, rgba(128, 128, 128, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      html::after {
        background: transparent linear-gradient(to top, rgba(128, 128, 128, 0.2) 0, rgba(128, 128, 128, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem; } }
    @media screen and (min-width: 48rem) {
      html::after {
        background: transparent linear-gradient(to top, rgba(128, 128, 128, 0.2) 0, rgba(128, 128, 128, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem; } }
    @media screen and (min-width: 76rem) {
      html::after {
        background: transparent linear-gradient(to top, rgba(128, 128, 128, 0.2) 0, rgba(128, 128, 128, 0.2) 1px, transparent 1px, transparent 100%) scroll repeat left top/100% 0.5rem; } }

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1rem; }

.slab {
  padding: 1rem 1rem; }
  @media screen and (min-width: 35rem) {
    .slab {
      padding: 1.5rem 2rem; } }
  @media screen and (min-width: 48rem) {
    .slab {
      padding: 1.5rem 2rem; } }
  @media screen and (min-width: 76rem) {
    .slab {
      padding: 2rem 0; } }

.slab--light {
  background-color: #e6e6e6; }

.slab--dark {
  background-color: #333;
  color: #fff; }

.slab--brand {
  background-color: #bada55; }

.slab-wrapper {
  max-width: 72rem;
  margin: 0 auto; }
  .slab-wrapper > :first-child {
    margin-top: 0; }
  .slab-wrapper > :last-child {
    margin-bottom: 0; }

.grid-wrapper {
  max-width: 72rem;
  margin: 0 auto; }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--2-up {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--2-up {
        grid-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--2-up {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--3-up {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--3-up {
        grid-gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--3-up {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--4-up {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--4-up {
        grid-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media screen and (min-width: 48rem) {
      .grid-wrapper--4-up {
        grid-template-columns: repeat(4, minmax(0, 1fr)); } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--4-up {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--5-up {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--5-up {
        grid-gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media screen and (min-width: 48rem) {
      .grid-wrapper--5-up {
        grid-template-columns: repeat(5, minmax(0, 1fr)); } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--5-up {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--6-up {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--6-up {
        grid-gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media screen and (min-width: 48rem) {
      .grid-wrapper--6-up {
        grid-template-columns: repeat(6, minmax(0, 1fr)); } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--6-up {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--sidebar-left {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--sidebar-left {
        grid-gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: "side main main"; } }
    @media screen and (min-width: 48rem) {
      .grid-wrapper--sidebar-left {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-areas: "side main main main"; } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--sidebar-left {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--sidebar-right {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--sidebar-right {
        grid-gap: 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: "main main side"; } }
    @media screen and (min-width: 48rem) {
      .grid-wrapper--sidebar-right {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-areas: "main main main side"; } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--sidebar-right {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--major-left {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--major-left {
        grid-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: "major minor"; } }
    @media screen and (min-width: 48rem) {
      .grid-wrapper--major-left {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: "major major minor"; } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--major-left {
        grid-gap: 2rem; } } }

@supports (grid-template-columns: 1px) {
  .grid-wrapper--major-right {
    display: grid;
    /* Base Breakpoint */
    grid-gap: 0.5rem;
    /* End base breakpoint */ }
    @media screen and (min-width: 35rem) {
      .grid-wrapper--major-right {
        grid-gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: "minor major"; } }
    @media screen and (min-width: 48rem) {
      .grid-wrapper--major-right {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: "minor major major"; } }
    @media screen and (min-width: 76rem) {
      .grid-wrapper--major-right {
        grid-gap: 2rem; } } }

.grid-wrapper__column {
  text-align: center;
  border: 4px currentColor solid;
  padding: calc(2rem - 4px) calc(0.5rem - 4px);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem; }

.grid-wrapper__column--major {
  grid-area: major; }

.grid-wrapper__column--minor {
  grid-area: minor; }

.grid-wrapper__column--article {
  grid-area: main; }

.grid-wrapper__column--sidebar {
  grid-area: side; }

.slab--light + .slab--light {
  padding-top: 0; }

.slab--dark + .slab--dark {
  padding-top: 0; }

.slab--brand + .slab--brand {
  padding-top: 0; }

.slab--wrapper + .slab--wrapper {
  padding-top: 0; }

.slab--transparent + .slab--transparent {
  padding-top: 0; }

h1 {
  /* Base Breakpoint */
  font-size: 2.24rem;
  line-height: 2.5rem;
  /* End base breakpoint */
  font-family: serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem; }
  @media screen and (min-width: 48rem) {
    h1 {
      font-size: 4.5rem;
      line-height: 4.5rem; } }

h2 {
  /* Base Breakpoint */
  font-size: 1.92rem;
  line-height: 2rem;
  /* End base breakpoint */
  font-family: serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem; }
  @media screen and (min-width: 48rem) {
    h2 {
      font-size: 3rem;
      line-height: 3rem; } }

h3 {
  /* Base Breakpoint */
  font-size: 1.67rem;
  line-height: 2.5rem;
  /* End base breakpoint */
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem; }
  @media screen and (min-width: 48rem) {
    h3 {
      font-size: 2.25rem;
      line-height: 3rem; } }

h4 {
  /* Base Breakpoint */
  font-size: 1.45rem;
  line-height: 2rem;
  /* End base breakpoint */
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem; }
  @media screen and (min-width: 48rem) {
    h4 {
      font-size: 1.5rem;
      line-height: 2rem; } }

h5 {
  /* Base Breakpoint */
  font-size: 1.25rem;
  line-height: 2rem;
  /* End base breakpoint */
  font-family: sans-serif;
  font-weight: normal;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1rem; }

h6 {
  /* Base Breakpoint */
  font-size: 1.125rem;
  line-height: 2rem;
  /* End base breakpoint */
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem; }

.text-xs-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.75rem;
  line-height: 1rem;
  /* End base breakpoint */ }

.text-xs-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.75rem;
  line-height: 1.5rem;
  /* End base breakpoint */ }

.text-xs-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.75rem;
  line-height: 2rem;
  /* End base breakpoint */ }

.text-xs-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.75rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }

.text-xs-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.75rem;
  line-height: 3rem;
  /* End base breakpoint */ }

.text-s-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.875rem;
  line-height: 1rem;
  /* End base breakpoint */ }

.text-s-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.875rem;
  line-height: 1.5rem;
  /* End base breakpoint */ }

.text-s-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.875rem;
  line-height: 2rem;
  /* End base breakpoint */ }

.text-s-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.875rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }

.text-s-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 0.875rem;
  line-height: 3rem;
  /* End base breakpoint */ }

.text-m-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 1rem;
  /* End base breakpoint */ }

.text-m-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 1.5rem;
  /* End base breakpoint */ }

.text-m-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 2rem;
  /* End base breakpoint */ }

.text-m-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }

.text-m-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 3rem;
  /* End base breakpoint */ }

.text-l-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.125rem;
  line-height: 1.5rem;
  /* End base breakpoint */ }

.text-l-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.125rem;
  line-height: 2rem;
  /* End base breakpoint */ }

.text-l-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.125rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }

.text-l-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.125rem;
  line-height: 3rem;
  /* End base breakpoint */ }

.text-l-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.125rem;
  line-height: 3.5rem;
  /* End base breakpoint */ }

.text-xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.25rem;
  line-height: 1.5rem;
  /* End base breakpoint */ }

.text-xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.25rem;
  line-height: 2rem;
  /* End base breakpoint */ }

.text-xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.25rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }

.text-xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.25rem;
  line-height: 3rem;
  /* End base breakpoint */ }

.text-xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.25rem;
  line-height: 3.5rem;
  /* End base breakpoint */ }

.text-2xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.45rem;
  line-height: 1.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-2xl-tight {
      font-size: 1.5rem;
      line-height: 1.5rem; } }

.text-2xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.45rem;
  line-height: 2rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-2xl-medium {
      font-size: 1.5rem;
      line-height: 2rem; } }

.text-2xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.45rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-2xl-wide {
      font-size: 1.5rem;
      line-height: 2.5rem; } }

.text-2xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.45rem;
  line-height: 3rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-2xl-huge {
      font-size: 1.5rem;
      line-height: 3rem; } }

.text-2xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.45rem;
  line-height: 3.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-2xl-redic {
      font-size: 1.5rem;
      line-height: 3.5rem; } }

.text-3xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.67rem;
  line-height: 2rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-3xl-tight {
      font-size: 2.25rem;
      line-height: 2.5rem; } }

.text-3xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.67rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-3xl-medium {
      font-size: 2.25rem;
      line-height: 3rem; } }

.text-3xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.67rem;
  line-height: 3rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-3xl-wide {
      font-size: 2.25rem;
      line-height: 3.5rem; } }

.text-3xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.67rem;
  line-height: 3.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-3xl-huge {
      font-size: 2.25rem;
      line-height: 4rem; } }

.text-3xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.67rem;
  line-height: 4rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-3xl-redic {
      font-size: 2.25rem;
      line-height: 4.5rem; } }

.text-4xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.92rem;
  line-height: 2rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-4xl-tight {
      font-size: 3rem;
      line-height: 3rem; } }

.text-4xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.92rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-4xl-medium {
      font-size: 3rem;
      line-height: 3.5rem; } }

.text-4xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.92rem;
  line-height: 3rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-4xl-wide {
      font-size: 3rem;
      line-height: 4rem; } }

.text-4xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.92rem;
  line-height: 3.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-4xl-huge {
      font-size: 3rem;
      line-height: 4.5rem; } }

.text-4xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 1.92rem;
  line-height: 4rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-4xl-redic {
      font-size: 3rem;
      line-height: 5rem; } }

.text-5xl-tight {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 2.24rem;
  line-height: 2.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-5xl-tight {
      font-size: 4.5rem;
      line-height: 4.5rem; } }

.text-5xl-medium {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 2.24rem;
  line-height: 3rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-5xl-medium {
      font-size: 4.5rem;
      line-height: 5rem; } }

.text-5xl-wide {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 2.24rem;
  line-height: 3.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-5xl-wide {
      font-size: 4.5rem;
      line-height: 5.5rem; } }

.text-5xl-huge {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 2.24rem;
  line-height: 4rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-5xl-huge {
      font-size: 4.5rem;
      line-height: 6rem; } }

.text-5xl-redic {
  background-color: rgba(200, 255, 200, 0.3);
  /* Base Breakpoint */
  font-size: 2.24rem;
  line-height: 4.5rem;
  /* End base breakpoint */ }
  @media screen and (min-width: 48rem) {
    .text-5xl-redic {
      font-size: 4.5rem;
      line-height: 6.5rem; } }

p {
  /* Base Breakpoint */
  font-size: 1rem;
  line-height: 1.5rem;
  /* End base breakpoint */ }
