@import '../sass/index.scss';

html {
    position: relative;
    @include rr-grid-overlay();
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: $rr-line-height;
}

.slab {
    @include rr-slab;
}

.slab--light {
    background-color: #e6e6e6;
}

.slab--dark {
    background-color: #333;
    color: #fff;
}

.slab--brand {
    background-color: #bada55;
}

.slab-wrapper {
    @include rr-slab-wrapper;
}

.grid-wrapper {
    @include rr-slab-wrapper($margins: true);
}

$styles: map-keys($rr-grids);

@each $name, $template in $rr-grids {
    .grid-wrapper--#{$name} {
        @include css-grid-columns($template, $class-prefix: 'grid-wrapper');
    }
}

.grid-wrapper__column {
    text-align: center;
    box-shadow: currentColor 0 0 0 1px inset;
    font-weight: bold;
    @include rr-font-line-height(1.5rem, 2);
}

.grid-wrapper__column--major {
    grid-area: major;
}

.grid-wrapper__column--minor {
    grid-area: minor;
}

.grid-wrapper__column--article {
    grid-area: main;
}

.grid-wrapper__column--sidebar {
    grid-area: side;
}



$slab-styles: slab--light slab--dark slab--brand slab--wrapper slab--transparent;

@include rr-slab-adjacency($style-list: $slab-styles);

$headerSize: 1rem;
@for $h from 6 through 1 {
    h#{$h} {
        @include rr-font-line-height($fontsize: $headerSize, $steps: 2);
    }
    $headerSize: $headerSize + 0.2;
}

p {
    @include rr-font-line-height($fontsize: 1rem, $steps: 1);
}