@import '../sass/index.scss';

html {
    position: relative;
    @include rr-grid-overlay();
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: $rr-line-height;
}

.slab {
    @include rr-slab;
}

.slab--light {
    background-color: #e6e6e6;
}

.slab--dark {
    background-color: #333;
    color: #fff;
}

.slab--brand {
    background-color: #bada55;
}

.slab-wrapper {
    @include rr-slab-wrapper;
}

.grid-wrapper {
    @include rr-slab-wrapper($margins: true);
}

$styles: map-keys($rr-grids);

@each $name, $template in $rr-grids {
    .grid-wrapper--#{$name} {
        @include css-grid-columns($template, $class-prefix: 'grid-wrapper');
    }
}

.grid-wrapper__column {
    text-align: center;
    border: 3px currentColor solid;
    padding: rr-grid-remainder(3px, 4) rr-grid-remainder(3px, 1);
    font-weight: bold;
    @include rr-font-line-height(1.5rem, 2);
}

.grid-wrapper__column--major {
    grid-area: major;
}

.grid-wrapper__column--minor {
    grid-area: minor;
}

.grid-wrapper__column--article {
    grid-area: main;
}

.grid-wrapper__column--sidebar {
    grid-area: side;
}

$slab-styles: slab--light slab--dark slab--brand slab--wrapper slab--transparent;

@include rr-slab-adjacency($style-list: $slab-styles);

@each $tag,$config in $rr-headings {
    #{$tag} {
        @include rr-heading($tag);
        margin-top: 0;
        margin-bottom: rr-gridbase() * 2;
    }
}

@include rr-font-samples();

p {
    @include rr-font-compute(m,medium);
}