@import '../sass/index.scss';

html {
    position: relative;
    @include rr-grid-overlay();
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: $rr-line-height;
}

.slab {
    @include rr-slab;
}

.slab--light {
    background-color: #e6e6e6;
}

.slab--dark {
    background-color: #333;
    color: #fff;
}

.slab--brand {
    background-color: #bada55;
}

.slab-wrapper {
    @include rr-slab-wrapper;
}

.grid-wrapper {
    @include rr-slab-wrapper($margins: true);
}

@for $i from 2 through 6 {
    .grid-wrapper--#{$i}-up {
        @include css-grid-columns(map-get($rr-grids,$i), $class-prefix: 'grid-wrapper');
    }
}

.grid-wrapper__column {
    text-align: center;
    background-color: #ccf;
    font-weight: bold;
    @include rr-font-line-height(1.5rem, 2);
}

$slab-styles: slab--light slab--dark slab--brand slab--wrapper slab--transparent;

@include rr-slab-adjacency($style-list: $slab-styles);

$headerSize: 1rem;
@for $h from 6 through 1 {
    h#{$h} {
        @include rr-font-line-height($fontsize: $headerSize, $steps: 2);
    }
    $headerSize: $headerSize + 0.2;
}

p {
    @include rr-font-line-height($fontsize: 1rem, $steps: 1);
}